body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
}
section#featured-property div {
  text-align: center;
}
a{
 padding-right:10x ;
 padding-top: 10px;
 padding-left:10px ;
 padding-bottom:10px;
}
nav{
  text-align: center;
  color:grey;
  background-color: gray;
}
section p {
  margin: 3px auto;
  text-align: center;
  width: 800px;}
  
section#details div {
    float: left;
    width:25%;
    text-align: center;
  }